body
{
	background-repeat: repeat-x;
	background-color: #012f5a;
	background-image: -webkit-linear-gradient(left, rgb(1, 47, 90), rgb(255, 255, 255), rgb(1, 47, 90));
	background-image: -moz-linear-gradient(left, rgb(1, 47, 90), rgb(255, 255, 255), rgb(1, 47, 90));
	background-image: -o-linear-gradient(left, rgb(1, 47, 90), rgb(255, 255, 255), rgb(1, 47, 90));
}
#main_container
{
	width: 960px;
	margin: auto;
	background-color: #111213;
}
#top_content, #footer
{
	padding-left: 30px;
	padding-right: 20px;
}
#sponsors
{
	padding-left: 30px;
	padding-right: 30px;
}
#middle_content{background-color: #ffffff;}
#sponsors{background-color: #ffffff;}
#footer{background-color: #111213}

.table
{
	display: table;
}
.row
{
	display: table-row;
}
.cell
{
	display: table-cell;
}
.cell_valign_middle
{
	vertical-align:middle;
}
.left_cell
{
	width: 68%;
}
.blog_left_cell
{
	width: 75%;
}

.light_text
{
	color: #a3a3a3;
}
.dark_text
{
	color: #646363;
}
.black_text
{
	color: #111213;
}
.blue_text
{
	color: #2c83b0;
}
.clear
{
	clear: both;
}
.share_icons
{
	display: inline-block;
	float: right;
}
.full_width
{
	width: 100%;
}
.zero_margin
{
	margin: 0px;
}
.table_position_relative
{
	position: relative;
}

