#main_container
{
	width: 960px;
	margin: auto;
	padding: 30px;
	/* background-color: #111213; */

	/* add gradient background*/
	background-image: url("./images/top_white_shadow.png");
	background-position: 100% 0%;
	background-repeat: no-repeat;
	background-color: rgb(255, 55, 24);
}
#search_bar
{
	border-radius: 10px;
	padding-left: 30px;
	width: 130px;
	float: right;
	background-image: url("./images/mag_glass2.png");
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 5% 100%;
}
#header
{
	background-color: rgb(25, 55, 24);
}
#slogan
{
	font-family:Garamond, Georgia, serif;
	font-size: 15pt;
	color: #ffffff;
	display: inline-block;
	white-space: pre;
	text-indent: 7px;
	letter-spacing: 2px;
}
#topbar_menu_area
{
	display: table;
	padding-bottom: 20px;
	width: 100%;
	background-color: rgb(100, 105, 64);
}
.menu
{
	list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline-block;
	float: right;
}
.menu li
{
	display: inline;
	padding: 0 5px;
}
.menu a
{
	text-decoration: none;
	font-family:Garamond, Georgia, serif;
	font-size: 8pt;
	color: #ffffff;
	display: inline-block;
	letter-spacing: 2px;
	/* font-weight: bold; */
}
#slider
{
	margin: 0 -30px;
}
#back_bar
{
	background-color: rgb(26, 2, 25);
	padding: 40px 0px;
	display: table;
}
.row
{
	display: table-row;
}
.cell
{
	display: table-cell;
}
.cell-valign
{
	vertical-align:middle;
}
.left-cell
{
	width: 68%;
}
.blog_left_cell
{
	width: 75%;
}
#slider_quote
{
	font-family:Garamond, Georgia, serif;
	font-size:25pt;
	line-height: 25pt;
	display: inline-block;
}
.light_text
{
	color: #a3a3a3;
}
.dark_text
{
	color: #646363;
}
.black_text
{
	color: #111213;
}
.blue_text
{
	color: #2c83b0;
}
#share_icons
{
	display: inline-block;
	float: right;
}

#sponsors
{
	/* background-color: #4e4d4d */
	background-color: rgb(120, 105, 64);
	padding: 25px 0;
}
#sponsors_title
{
	padding-bottom: 20px;
}
#sponsors_title_text
{
	font-family:Garamond, Georgia, serif;
	font-size:20pt;
}
#sponsor_table
{
	display: table;
	width: 100%;
	text-align: center;
	border-collapse: separate;
	border-spacing: 10px;
}
#sponsor_table .cell
{
	border: 6px solid #fafafa;
    /*padding: 10px 40px;*/
}
#sponsor_table  img
{
	max-width: 100%;
	height: auto;
}
#sponsor_holder
{
	padding: 5px;
}
#footer
{
	display: table;
	width: 100%;
	background-color: rgb(20, 20, 20);
	padding-top: 25px;
}
#left_footer
{
	width: 68%;
	background-color: rgb(250, 235, 215);
}
#about_section
{
	background-color: rgb(20, 20, 20);
	width: 50%;
}
#flickr_section
{
	background-color: rgb(20, 20, 20);
	padding-left: 20px;
}
#contact_section
{
	padding-left: 20px;
	background-color: rgb(20, 20, 20);
}
#left-footer-content
{
	display: inline-table;
	width: 100%;
}
#flickr_title
{
	padding-bottom: 20px;
}
#about_title_text, #flickr_title_text, #contact_title_text
{
	font-family:Garamond, Georgia, serif;
	font-size:20pt;
	color: #ffffff;
}
#flickr_stream img
{
	width: 75px;
	height: 75px;
	padding: 5px;
	border: 1px solid #333333;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}
#flickr_stream a
{
	padding: 2px;
}
#blog_posts
{
	
	background-color: rgb(230, 105, 64);
	padding-right: 60px;
}
#blog_sidebar
{
	background-color: #f3f3f3;
	background-image: url("./images/sidebar/sidebar-background.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}
#middle_content
{
	display: table;
	width: 100%;
	background-color: rgb(200, 105, 64);
	padding: 30px 0;
}
#shop_widget_text, #event_widget_text, #score_widget_text
{
	font-family:Garamond, Georgia, serif;
	font-size:20pt;
	padding-bottom: 30px;
}
.sidebar_widget
{
	padding-top: 5px;
	padding-bottom: 40px;
}
a.no_decoration
{
	text-decoration: none;
}
.blog_image
{
	border: 6px solid #e9e9e9;
}
.blog_post
{
	display: table;
	padding-bottom: 70px;
}
.valign_top
{
 vertical-align: top;
}

.post_content
{
	padding-left: 30px;
	position: relative;
}
.post_title
{
	padding-top: 5px;
	font-family:Garamond, Georgia, serif;
	font-size:20pt;
}
.post_date
{
	font-family:Garamond, Georgia, serif;
	font-size:10pt;
}
.post_header
{
	padding-bottom: 15px;
}
.blog_button
{
	position: absolute;
	bottom: 0px;
}
