#main_container
{
	width: 960px;
	margin: auto;
	padding: 30px;
	background-color: #111213;

	/* add gradient background*/
	background-image: url("./images/top_white_shadow.png");
	background-position: 100% 0%;
	background-repeat: no-repeat;
}
#search_bar
{
	border-radius: 10px;
	padding-left: 30px;
	width: 130px;
	float: right;
	background-image: url("./images/mag_glass2.png");
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 5% 100%;
}

#header_top
{
}
#logo
{
}
#slogan
{
	font-family:Garamond, Georgia, serif;
	font-size: 15pt;
	color: #ffffff;
	display: inline-block;
	white-space: pre;
	text-indent: 7px;
	letter-spacing: 2px;
}
#topbar_menu_area
{
}
#slider
{
	margin: 0 -30px;
}
#back_bar
{
	background-color: rgb(26, 2, 25);
	padding: 40px 0px;
}
#slider_quote
{
	font-family:Garamond, Georgia, serif;
	font-size:20pt;
	line-height: 20pt;
	color: #a3a3a3;
	display: inline-block;
	width: 55%;
}
#share_icons
{
	display: inline-block;
	float: right;
}
